* {
    padding: 0px;
    margin: 0px auto;
    font-family: sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1140px;
    padding-bottom: 30px;
    background-color: rgb(247, 238, 202);
}

.col-6 {
    text-align: center;
}

button {
    border: 5px solid none;
    padding: 15px 25px;
    border-radius: 10px;
    margin-left: 30px;
    width: 120px;
    text-align: center;
    color: white;

}